@import url('https://fonts.cdnfonts.com/css/pecita');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


.content {
    padding-top: 4.3vw;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 93.5vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3.25vw;
    z-index: 1000;
}

.logo {
    font-family: 'Pecita', sans-serif;
    font-size: 2.925vw;
    color: #fff;
    line-height: normal;
    margin-right: 2.6vw;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.navigation {
    display: flex;
    gap: 1.62vw;
    justify-self: start;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 0.91vw;
    display: inline;
    cursor: pointer;
    position: relative;
}

.link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -0.32vw;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: left;
}

.link:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
}

.search {
    background-image: url('img/search.svg');
    width: 1.29vw;
    height: 1.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: black;
}

.account {
    background-image: url('img/account.svg');
    width: 1.17vw;
    height: 1.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: black;
}

.liked {
    background-image: url('img/heart.svg');
    width: 1.37vw;
    height: 1.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: black;
}

.basket {
    background-image: url('img/basket.svg');
    width: 1.1vw;
    height: 1.2vw;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: black;
}

.menu {
    gap: 1.5vw;
    display: flex;
    margin-right: 0.7vw;
}


/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 4.87vw 0vw 1.29vw 1.6vw;
    flex-direction: column;
    align-items: center;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 0.32vw;

}

.footer_nav2 {
    display: flex;
    flex-direction: column;
    gap: 0.32vw;
    margin-left: -0.65vw;
    margin-right: -0.65vw;
}

.navs {
    display: flex;
    flex-direction: row;
    gap: 5.19vw;
    margin-top: 3.89vw;
    margin-bottom: 6.49vw;
}

.title_footer_nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.97vw;
}

.footer_li {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 0.91vw;
    cursor: pointer;
    transition: 0.25s;
}

.footer_li:hover {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffffbd;
    font-weight: 400;
    font-size: 0.91vw;
    cursor: pointer;
    transition: 0.25s;
}

.footer_cap {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 0.78vw;
}

.caps {
    display: flex;
    flex-direction: row;
    gap: 0.97vw;
}

/* Відео W&K */
.vid_cont {
    position: relative;
    height: 45vw;
    margin-bottom: 0.3vh;
    cursor: pointer;
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_on_main {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 0.97vw;
    position: relative;
}

.title_on_main {
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 5.84vw;
    border: 0;
}

.discover_more {
    background-color: white;
    border: 0;
    padding: 0.97vw 1.29vw;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 600;
    line-height: normal;
    margin-top: 0.65vw;
    cursor: pointer;
}

/* RPD */
.rpd_block {
    display: flex;
    height: 50.10vw;
    width: 32vw;
    background: url('/src/img/RPD_on_main.png');
    background-size: cover;
    padding: 4vw 3.4vw;
    gap: 1.29vw;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end;
}

.title2_on_main {
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 4.87vw;
    border: 0;
    line-height: 100%;
    margin-left: -0.37vw;
}

.rpd_block .text_on_main:before {
    content: '';
    width: 7.35vw;
    height: 0.09vw;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -0.32vw;
}

/* CCC */
.ccc_block {
    display: flex;
    height: 50.10vw;
    width: 54vw;
    background: url('img/CCC_on_main.png');
    background-size: cover;
    padding: 4vw 3.4vw;
    gap: 1.29vw;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end;
    margin-left: 2px;
}

.ccc_block .text_on_main:before {
    content: '';
    width: 7.35vw;
    height: 0.09vw;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -0.32vw;
}

.box {
    display: flex;
}

.men {
    height: 40vw;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

/* Collection 1 */
.collection1 {
    display: flex;

}

.col1_img1 {
    width: 50%;
    height: auto;
    object-fit: cover;
    align-items: flex-start;
}

.col1_img2 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.col1_box1 {
    display: flex;
    flex-direction: column;
}

.col1_box2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -0.5vw;
}

.txt1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.title1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 4.87vw;
    line-height: 110%;
    margin-left: -0.4vw;
    margin-bottom: 5vw;
}

.txt2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 0.91vw;
    margin-top: 1.82vw;
    width: 38.97vw;
}

.txt3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 0.91vw;
    margin-top: 1.82vw;
    width: 40vw;
}

.col1_textbox {
    display: flex;
    flex-direction: column;
    padding: 3.24vw 4vw;
}

.textline {
    background: url('img/textline1.svg');
    background-size: cover;
    display: flex;
    margin-top: 2.27vw;
    margin-bottom: 2.27vw;
    height: 1.29vw;
}

.textline2 {
    background: url('img/textline2.svg');
    background-size: cover;
    margin-top: 2.25vw;
    margin-bottom: 2.7vw;
    height: 1.29vw;
    overflow: auto;
}

.imgbox {
    background: url('img/pexels-cottonbro-studio-9904105.png');
    background-size: cover;
    display: flex;
    width: 50%;
    padding: 2.59vw 3.24vw;
    align-items: flex-end;
    overflow: auto;
}

.imgbox2 {
    background: url('img/pexels-cottonbro-studio-9904168.png');
    background-size: cover;
    display: flex;
    width: 50%;
    padding: 2.59vw 3.24vw;
    align-items: flex-end;
}

/* ErrorPage */
.errorbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
}

.txterr {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 600;
    color: black;
    margin-bottom: 2vw;
}

/* Items */
.item_img {
    height: 44.26vw;
}

.thesame_item_img {
    height: 33.01vw;
}

.item_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.17vw;
    font-weight: 500;
    color: black;
    margin-bottom: 0.45vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 22vw;
}

.item_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 400;
    color: black;
}

.itembox {
    padding: 0.8vw 0.65vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.item {
    width: 34.19vw;

}

.thesame_item {
    width: 25.48vw;

}

.item_liked {
    background-image: url('img/heart_item.svg');
    width: 1.52vw;
    height: 1.31vw;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.92vw 0.5vw;
    width: fit-content;
    justify-self: center;

}

.items_box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 9.74vw 0;
}

/* Product */
.prod {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 3.24vw;
    padding-left: 3.24vw;
    padding-right: 3.24vw;
    width: 28.5vw;
}

.prod_coll {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.71vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    width: fit-content;
}


.prod_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 500;
    color: black;
    width: 17vw;
    margin-top: 0.65vw;
    margin-bottom: 0.4vw;
}

.p_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prod_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.49vw;
    font-weight: 400;
    color: black;
    margin-top: 0.65vw;
}

.prod_art {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.beige {
    width: 1.29vw;
    height: 1.29vw;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    border-radius: 10%;
    background-color: rgba(180, 178, 165, 1);
}

.black {
    width: 1.29vw;
    height: 1.29vw;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    border-radius: 10%;
    background-color: black;
}

.white {
    width: 1.29vw;
    height: 1.29vw;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.80);
}

.green {
    width: 1.29vw;
    height: 1.29vw;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    border-radius: 10%;
    background: green;
}

.colors {
    display: flex;
    flex-direction: row;
    gap: 0.65vw;
    margin-top: 2.59vw;
    margin-bottom: 2.59vw;
}

.colorsbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prod_color {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.78vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.636);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 999;
}

.pop-up-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.close_popup {
    width: 2vw;
    height: 2vw;
}

.pop-up-content {
    position: relative;
    margin: 1.29vw;
    width: 58.44vw;
    height: 23.39vw;
    transform: translateY(-3.24vw);
    transition: opacity 0.3s, transform 0.3s;
}

.img_popup {
    width: 58.44vw;
    height: 23.39vw;
}

.pop-up_butt {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    width: 2vw;
    height: 2vw;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.pop-up_butt_show {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.78vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.80);
    cursor: pointer;
    text-decoration: underline;
    border: 0;
    width: fit-content;
    background-color: white;
}

/* open */
.pop-up--entering,
.pop-up--entered {
    opacity: 1;
}

.pop-up--entering .pop-up-content,
.pop-up--entered .pop-up-content {
    transform: translateY(0);
}

/* close */
.pop-up--exiting,
.pop-up--exited {
    opacity: 0;
}

.pop-up--exiting .pop-up-content,
.pop-up--exited .pop-up-content {
    transform: translateY(-3.24vw);
}

.size-button {
    width: 100%;
    padding: 0.65vw 1.29vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border: 0;
    background-color: white;
    text-align: left;
}

.size-button:hover {
    background: rgba(201, 199, 186, 0.50);
}

.size-button:active {
    background: #C9C7BA;
}

.size-button.selected {
    background: rgba(201, 199, 186, 0.50);
    color: black;

    /* Text color for selected size */
}

.size_box {
    border-top: 0.1vw solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.3);
    margin-top: 1.94vw;
    margin-bottom: 1.94vw;
}

.add_to_bag {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    padding: 0.67vw;
    border: 0;
    cursor: pointer;
}

.add_to_fav {
    background-image: url('img/heart.svg');
    width: 3vw;
    height: 100%;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    background-color: black;
}

.butt_box {
    display: flex;
    flex-direction: row;
    gap: 0.32vw;
    height: 2.59vw;
    margin-bottom: 1.29vw;
}

.delivery {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.78vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.del_tit {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.62vw;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    margin-bottom: 1.29vw;
}

.del_tit2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 700;
    color: black;
    width: 8.55vw;
}

.del_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: black;
    width: 26vw;
}

.title_MA40 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 2.59vw;
    margin-top: 5vw;
}

.title_MA40_Faq {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 2.59vw;
    margin-top: 5vw;
    margin-bottom: 2.74vw;
}

.del_box {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 6.87vw;
    margin-top: 4vw;
    margin-bottom: 7vw;
}

.del_box2 {
    display: flex;
    flex-direction: column;
    gap: 1.94vw;
}

.boxd1 {
    display: flex;
    flex-direction: row;
    gap: 1.94vw;
}

.delmain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10vw;
}

.thanks {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 700;
    color: black;
    margin-bottom: 8vw;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod_link_box {
    display: flex;
    flex-direction: row;
    gap: 1.29vw;
}

.thesame_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.29vw;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    margin-bottom: 1.62vw;
    margin-top: 4.55vw;
    justify-self: center;
    align-self: center;
}

.random-products {
    display: flex;
    flex-direction: row;
    gap: 0.65vw;

    justify-content: center;
    align-items: center;
}

.random-products2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.49vw;
}

.add_imgs {
    display: flex;
    flex-direction: row;
    width: 65vw;
    height: 41vw;
    background-size: cov;
}

.shop_bag {
    width: 19.48vw;
    padding: 1.62vw 1.29vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.40);
    background: #FFF;
}

.bag_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: black;
    margin-bottom: 0.67vw;
}

.bag_item {
    display: flex;
    flex-direction: row;
    gap: 0.97vw;
    margin-bottom: 1vw;
}

.bag_item_img {
    width: 6.49vw;
    height: 8.49vw;
}

.bag_item_info {
    display: flex;
    flex-direction: column;
    gap: 0.32vw;
    width: 100%;
}

.bag_item_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.78vw;
    font-weight: 500;
    color: black;
    width: 9.42vw;
}

.bag_item_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.remove {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    border: 0;
    background-color: transparent;
    text-align: flex-end;
}


.bag_item_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.84vw;
    font-weight: 600;
    color: black;
    text-align: flex-end;
    margin-top: 0.67vw;
}

.subt_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.29vw;
    margin-top: 1.94vw;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13vw;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 1.94vw;
    gap: 1.29vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.40);
}

.overlay_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: black;
    width: max-content;
}

.overlay_butt1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: white;
    border: none;
    background-color: #000;
    width: 7.82vw;
    height: 2.59vw;
    margin-bottom: 1.29vw;
    cursor: pointer;
}

.overlay_butt2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    color: black;
    background-color: transparent;
    width: 7.82vw;
    height: 2.59vw;
    border: 0.1vw solid #000;
    cursor: pointer;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.login_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: black;
}

.ques {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.62vw;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.answ {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: black;
    width: 60vw;
}

.faq-question {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vw;
}

.acc_butt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 43vw;
    padding: 0.9vw 1.29vw;
    border: 0.1vw solid #000;
}

.arrow_login{
    background-image: url('/src/img/arrow.svg');
    width: 1.1vw;
    height: 1.05vw;
    background-size: contain;
}

.acc_box {
    display: flex;
    flex-direction: column;
    gap: 1.29vw;
}

.login_box2 {
    display: flex;
    flex-direction: column;
    gap: 1.29vw;
    height: 46.21vw;
    justify-content: center;
    align-items: flex-start;
}

.title_MA40_2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 2.59vw;
    margin-bottom: 4.55vw;
    margin-top: -1vw;
}

.title_MA40_3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 2.59vw;
}

.login_img1 {
    display: flex;
    background-image: url('/src/img/acc_img1.png');
    background-size: cover;
    width: 25.84vw;
}

.login_img2 {
    display: flex;
    background-image: url('img/acc_img2.png');
    background-size: cover;
    width: 25.84vw;
}

.acc_img1 {
    display: flex;
    background-image: url('/src/img/acc_img1_1.png');
    background-size: cover;
    width: 25.84vw;
}

.acc_img2 {
    display: flex;
    background-image: url('img/acc_img1_2.png');
    background-size: cover;
    width: 25.84vw;
}

.signup_img1 {
    display: flex;
    background-image: url('/src/img/signup_img1.png');
    background-size: cover;
    width: 25.84vw;
    height: 100%;
}

.signup_img2 {
    display: flex;
    background-image: url('img/signup_img2.png');
    background-size: cover;
    width: 25.84vw;
    height: 100%;
}

.loginmainbox {
    display: flex;
    flex-direction: row;
    gap: 1.29vw;
}


input {
    width: 21.37vw;
    border: 0;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.60);
    padding: 0.73vw 0;
    margin-top: 2.59vw;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.60);
}

input[type] {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: black;
    outline: none;
}


.acc_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.91vw;
    font-weight: 500;
    color: black;
    width: 19.74vw;
}

.accmainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.signmainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 56.68vw;
    align-items: center;
}

.acc_box {
    display: flex;
    flex-direction: column;
    height: 46.21vw;
    justify-content: center;
    align-items: flex-start;
}

.log_in_butt{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.97vw;
    font-weight: 500;
    width: 100%;
    color: white;
    background-color: black;
    padding: 0.67vw;
    border: 0;
    cursor: pointer;
    margin-top: 3.24vw;
    text-align: center;
}

.log_in_box {
    display: flex;
    flex-direction: column;
    gap: 1.29vw;
}

.privacy {
    color: #000;
    text-decoration: underline;
}